@import './header-float.css';

.how-to-btn {
  left: calc(var(--space-md) + var(--header-float-size) + var(--space-sm));
}

[dir='rtl'] .how-to-btn {
  left: auto;
  right: calc(var(--space-md) + var(--header-float-size) + var(--space-sm));
}

@media (max-width: 400px) {
  .how-to-btn-label {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
  }
}
